venv/
.env

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Byte-compiled / optimized / DLL files
__pycache__/

*.pyc 
*/*.pyc 
*/*/*.pyc

data/

Dockerfile
*.yml

uwsgi_app.sock
.env