version: '3.8'
services:
  web:
    restart: unless-stopped
    build:
      context: ./portfolio
      dockerfile: Dockerfile.prod
    command: gunicorn portfolio.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/home/app/web/staticfiles
      - media_volume:/home/app/web/mediafiles
    expose:
      - 8000
    env_file:
      - ./.env.prod
    depends_on:
      - db

  db:
    image: postgres:15
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env.prod_db
  
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    build: ./nginx
    volumes:
      - static_volume:/home/app/web/staticfiles
      - media_volume:/home/app/web/mediafiles
      # - ./nginx.conf:/etc/nginx/nginx.conf
      - certbot_www:/var/www/certbot
      - certbot_etc:/etc/letsencrypt
    ports:
      - 80:80
      - 443:443
    depends_on:
      - web

  certbot:
    image: certbot/certbot
    volumes:
      - certbot_www:/var/www/certbot
      - certbot_etc:/etc/letsencrypt
    depends_on:
      - nginx
    command: certonly --webroot --webroot-path=/var/www/certbot --email your-email@example.com --agree-tos --no-eff-email --staging -d yourdomain.com -d www.yourdomain.com


volumes: # Define the volume at the top level
  postgres_data:
  static_volume:
  media_volume:
  certbot_www:
  certbot_etc: