{% extends "base.html"%}

{% block title %} homepage {% endblock %}
{% block content %} 

<main >
    <div class="intro">
        <p class="">hi my name is Arsham</p>
        {% for i in recentPosts%}
        <a href="{{ i.get_absolute_url }}">
            {{i.title}}
        </a>
        <p>{{ i.body|truncatewords_html:10 }}</p>
        {% endfor %}

    </div>

    <div class="project">
        {% if projects %}
            {% for i in projects %}
                <a href="{{ i.get_absolute_url }}">
                    {{i.title}}
                </a>
                <p>{{ i.body|truncatewords_html:10 }}</p>
            {% endfor %}
        {% endif %}
    </div>
</main>

{% endblock %}