{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/homepage.css" %}">
    <!-- <link rel="stylesheet" href="../static/css/homepage.css"> -->
    <title>{%block title %} {% endblock%}</title>
</head>
<body>
    <nav class="navbar">
        <div class="div-navbar">
            <div class="container-navbar">
                <div class="logo"><a href="home"># Arsham</a></div>
                <div class="nav-text">
                    <ul>
                        <li><a href="home">home</a></li>
                        <li><a href="blog">blog</a></li>
                        <li><a href="home">about me</a></li>
                        <li><a href="home">project</a></li>
                        <li><a href="contactme">contact me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {% block content%} {% endblock %}
</body>
</html>